body{
    margin-left: 80px;
    margin-right: 80px;
}
.box1{
    background:#EEEEEE;
}
.box2{
    background-color: rgb(126, 229, 218);
    width: 35%;
    float: left;
    padding: 10px;
    margin: 1px;
}
.box3{
    background-color:rgb(112, 204, 194);
    width: 19%;
    float: left;
    padding: 9px;
    margin: 1px;
    font-size: 12.5px;
}
.box4{
    background-color: rgb(98, 179, 170);
    width: 42.4%;
    float: left;
    padding: 2px;
    margin: 1px;
    font-size: 12px;
}
.footer{
    margin: 0px;
    padding: 100px;
}